* { margin: 0; padding: 0; }

canvas { width: 100%; height: 100%; }

body 
{
	/*height: 100%;*/
	height:100vh;
	font-family: 'Roboto', sans-serif;
	margin: 0 auto;
	display: block;
	background: radial-gradient(ellipse at center, #003251 0%,#000000 100%);
	color:white;
}

a
{
    background-color: #00A1FF;
    color: white;
    padding: 14px 25px;
    text-align: center; 
    text-decoration: none;
    display: inline-block;
}

section
{
	width: 100%;
	height: 100%;
	/*height:100vh;*/
}

h1 
{
	color: #00A1FF;
	font-weight: bold;
	letter-spacing: 0.25em;
	font-size: 3em;
}

h2
{
	margin: 2% auto;
	font-weight: normal;
}

#EntranceTextBottom
{
	margin-left: 5%;
	margin-top: 30%;
	margin-bottom: 5%;
	display: block;
}

#EntranceText
{
	margin-left: 5%;
	margin-top: 5%;
	display: block;
}