/*
	
	PRIMARY COLOR: color: #e30f0f;

*/

* { 
	margin: 0; 
	padding: 0; 
}

body {
	background-color: #000;
	color: #fff;
	font: 16px Roboto, sans-serif; 
	text-align: center;
	margin: 30px;
}

main {
  max-width: 900px;
  margin: 0 auto;
}

.logo {
	margin: 50px;
}

h1, h2 {
	font-weight: 300;
	text-transform: uppercase;
}

h1 {
	color: #e30f0f;
	font-size: 1.9em;
	padding: 40px 50px 0;
	position: relative;
	text-shadow: 0 0 16px rgba(255,0,0,0.81);
}

h1::before, h1::after, .primary-nav::before, .primary-nav::after {
	content: '';
	width: 20px;
	height: 20px;
	display: block;
	background-color: #e30f0f;
	position: absolute;
}

h1::before, h1::after {
	top: 0;
}

.primary-nav::before, .primary-nav::after {
	bottom: 0;
}

h1::before, .primary-nav::before {
	left: 0;
}

h1::after, .primary-nav::after {
	right: 0;
}

h2 {
	margin: 30px;
}


.social-icons li, .primary-nav li {
	display: inline;
	list-style: none;
	margin: 5px;
}

.social-icons a {
}

.social-icons a:hover, .social-icons a:focus {
	color: #ccc;
}

.icon {
	fill: #fff;
	height: 2.5em;
	width: 2.5em;
}

.primary-nav {
	position: relative;
	margin-top: 3.0em;
	padding: 0 50px 80px;
}

.button {
	background-color: #e30f0f;
	color: #000;
	display: inline-block;
	font: 2.25em "Roboto Condensed", sans-serif;
	margin: 0 20px 10px;
	padding: 14px 25px;
	text-decoration: none;
	width: 160px;
}

.button:hover, .button:focus {
	background-color: #b00000;
}

@media (min-width: 501px) and (max-width: 899px) {
	h1 {
		font-size: 2.6em;
	}
}

@media (min-width: 900px) {
	h1 {
		font-size: 5.5em;
	}

	h2 {
		font-size: 2.5em;
	}
}